<div class="row d-flex justify-content-center mt-4">
  <div class="col-4 ms-2 border border-secondary p-3 text-center">
    <h1 class="mb-4">Typing Challenge</h1>

    <p class="my-2">
      <span [class]="compare(letter, enteredText[i])"
      *ngFor="let letter of randomText.split(''); let i = index;"
      >{{ letter }}</span>
    </p>

    <div class="mb-3 form-check">
    <input (input)="onInput($any($event.target).value)" class="form-control my-2"/>
    </div>
    <h4 *ngIf="randomText === enteredText" class="my-2 text-success">Success!!!</h4>
  </div>
</div>
